<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>To Do List</h1>
    <p>This is my personal to do list!</p>
    
    <a href="/">Home</a>
    <a href="/tasks">Tasks</a>
    <a href="/tasks/add">Add Tasks</a>
    
    <h2>Ini home page</h2>
</body>
</html>